<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for FF, Chrome, Opera 
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
	-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Kaby Stylesheet -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Custom stylesheet for index.html -->
  <style>
    #body-wrapper {
        background-color: #ffffff;
        margin-bottom: 0;
        margin: 0 auto;
        border-radius: 0; 
        width: 100%;
        position: auto;
        max-width: 1100px;
    }
  </style>
</head>
<body>


<br>
<div class="container" id="body-wrapper">
	<div class="container text-center">
		<div class="row content">
			<div class="col-sm-5 text-left">
				<img src="images/Kaby_meeting_planner.png">
			</div>
			<div class="col-sm-5 text-right">
			<br>
			<br>
			</div>
		</div>
	</div>
	<hr>
	<ul class="nav nav-pills red">
			<li role="presentation" class="active"><a href="#">Home</a></li>
		    <li role="presentation"><a href="newMeeting">New Meeting</a></li>
		    <li role="presentation"><a href="newContact">New Contacts</a></li>
		    <li role="presentation"><a href="logout">Log out</a></li>
	</ul>
	<hr>
	<br>
	<br>

	<div class="container text-center">
		<div class="row content">
			<div class="col-sm-1 text-left">
				</div>
			    <div class="col-sm-9 text-left">
						<h3>up comming meetings</h3>
						<div class="form-group row text-center">
							<div class="col-10">
				  				<div class="text-left scrollable">
				  				Group 2(KABY) Meeting 2/20 @ 2pm
				  				<br>
				  				Group 1 Meeting 2/20 @ 2:30pm
				  				<br>
				  				Group 3 Meeting 2/20 @ 3pm
				  				<br>
				  				Group 4 Meeting 2/20 @ 3:30pm
				  				<br>
				  				Group 5 Meeting 2/20 @ 4pm
				  				<br>
				  				Skype meeting some professor 2/21 @ 6 am
				  				<br>
				  				Meeting 3/12 @ 8 am
				  				</div>
						 	</div>
						</div>



				</div>
				</div>
				<div class="row content">
					<div class="col-sm-1 text-left">
						</div>
					    <div class="col-sm-9 text-left">
								<h3>Past meetings</h3>
								<div class="form-group row text-center">
									<div class="col-10">
						  				<div class="scrollable">
				  						</div>
								 	</div>
								</div>
						</div>
				</div>
		  </div>
		 <br>
		 <br>
  </div>
  <br>
  <br>
</body>
</html>
