<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- for FF, Chrome, Opera -->
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Kaby Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  <!-- Custom stylesheet for login.html -->
  <style>
    #body-wrapper {
        width: 500px;
        margin: 200px  auto 0 auto;
        background-color: #ffffff;
        padding-top: 25px;
        padding-bottom: 50px;
        border-radius: 10px;
    }

    #pss-wrd{
        padding-top: 5px;
        padding-bottom: 7px;
    }

    .heading {
        font-weight:bold;
        color: #ff00bf;
    }
  </style>

  <script type="text/javascript">
  	
  		// When the user clicks on <div>, open the popup
		function myFunction() {
    		var popup = document.getElementById("myPopup");
    		popup.classList.toggle("show");
		}
  </script>
</head>
<body>
	<div  class="container" id="body-wrapper">
	   <form action="login_action" method="post">
	   		<div class="container text-center">
	   			<div class="row content">
	   				<div class="col-sm-7 text-left">
						<h1 class="heading">KABY Meeting Planner </h1>
					</div>
	     		</div>
	     		<div class="row content"> <br> </div>
	     		<div class="row content"> <br> </div>
				<div class="row content">
					<div class="col-sm-1 text-left">
	     			</div>
					<div class="col-sm-1 text-left">
	     				Email: 
	     			</div>
	     			<div class="col-sm-1 text-left">
	     				<input type="text" name=user_name id="txtusername" placeholder="Email" autocomplete="off"/>
	     			</div>
	     		</div>
	     		<div class="row content" id="pss-wrd">
	     			<div class="col-sm-1 text-left">
	     			</div>
					<div class="col-sm-1 text-left">
	     				Password:
	     			</div>
	     			<div class="col-sm-1 text-left">
	     				<input type="password" name="password" id="txtusername" placeholder="Password" autocomplete="off"/>
	     			</div>
	     		</div>
	     		<div class="row content">
	     		<div class="col-sm-1 text-left">
	     			</div>
					<div class="col-sm-1 text-left">
	     				 <!--<a class="btn btn-primary" href="home"> Log in </a>-->
						 <input class="btn btn-success" type="submit" value="Log in">
	     			</div>
	     			<div class="col-sm-1 text-left">
	     			</div>
	     		</div>
	     	</div>
	   </form>
	 </div>
</body>
