<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- for FF, Chrome, Opera -->
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>



  <!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: false,
            multidate: true,
        })
    });

    $(document).ready(function(){
        var date_input=$('input[name="date2"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: false,
            multidate: true,
        })
    })



</script>

<!-- Kaby Stylesheet -->
<link rel="stylesheet" href="/static/css/main.css" />

</head>
<body>


<br>
<div class="container" id="body-wrapper">
	<div class="container text-center">
		<div class="row content">
			<div class="col-sm-5 text-left">
				<h1>KABY Meeting Planner</h1>
			</div>
			<div class="col-sm-5 text-right">
			<br>
			<br>
			</div>
		</div>
	</div>
	<hr>
	<ul class="nav nav-pills red">
			<li role="presentation" ><a href="home">Home</a></li>
		    <li role="presentation" class="active"><a href="#">New Meeting</a></li>
		    <li role="presentation"><a href="newContact">New Contacts</a></li>
		    <li role="presentation"><a href="logout">Log out</a></li>
		 </ul>
		  <hr>
		  <br/>
		  <br>

		<form action="form_action" name= "myform" method="post">
		<div class="form-group row text-left" >
		 	<label for="mName" class="col-sm-2 col-form-label">Meeting Name</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" placeholder="Meeting name" id="mName" name="mName">
		 	</div>
		 	<div><label  class="col-sm-3 col-form-label" id = "lb3" style="display:none">Please enter a meeting name!
		 	</label>
		 	</div>
		</div>
		<div class="form-group row text-leftr" >
		 	<label for="loc" class="col-sm-2 col-form-label">Meeting Location</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" placeholder="Meeting location" id="loc" name="loc">
		 	</div>
		 	<label  class="col-sm-3 col-form-label" id = "lb4" style="display:none">Please enter a meeting location!
		 	</label>
		</div>
		<div class="form-group row text-left">
		 	<label for="desc" class="col-sm-2 col-form-label">Meeting Description</label>
			<div class="col-sm-7">
  				<textarea class="form-control" rows="5" id="desc" name="desc"></textarea>
		 	</div>
		 	<label  class="col-sm-3 col-form-label" id = "lb5" style="display:none">Please enter a meeting description!
		 	</label>
		</div>
		<div class="form-group row text-left ">
		 	<label for="date" class="col-sm-2 col-form-label">Select group leader</label>
 				<div class="col-sm-7 dropdown text-left" name="date" id="date">
					<select name="dd2" id="dd2"class="selectpicker" data-style="btn-primary" multiple>
						{% for o in leaders%}
							<option value={{o}}>{{o}}</option>
 							<br />
              			{% endfor %}
					</select>
    					

  					</ul>
				</div> 
			<label  class="col-sm-3 col-form-label" id = "lb6" style="display:none">Please select a contact!
		 	</label>
		</div>


		<div class="form-group row text-left" >
		 	<label for="meeting_len" class="col-sm-2 col-form-label">Meeting length</label>
 				<div class="col-sm-7 dropdown text-left" name="meeting_len" id="meeting_len">
					</button>

					<select class="selectpicker" data-style="btn-primary" name="meeting_len" id = "ml" multiple>
  						<option value="15">15 min</option>
  						<option value="30">30 min</option>
  						<option value="45">45 min</option>
  						<option value="60">1hr</option>
  						<option value="90">1.5hr</option>
  						<option value="120">2hr</option>
  						<option value="180">3hr</option>
  						<option value="360">6hr</option>
  						<option value="720">12hr</option>
					</select>

    					
  					</ul>
				</div> 
			<label  class="col-sm-3 col-form-label" id = "lb7" style="display:none">Please select a meeting length!
		 	</label>
		</div>


		<div class="form-group row text-left">
		 	<label for="date" class="col-sm-2 col-form-label">Select Dates</label>
			<div class="col-sm-7">
				<input class="form-control" id="sdate" name="date" placeholder="MM/DD/YYY" type="text" readonly/>
		 	</div>
		 	<label  class="col-sm-3 col-form-label" id = "lb8" style="display:none">Please select a correct meeting date!
		 	</label>
		</div>
		<br>
		<br>
		<br>
		<hr>
		<br>



		<div class="container">
			<div class="row content">
			<div class="col-sm-4"> </div>
			<div class="col-sm-2 text-right">
				<!--<a class="btn btn-primary" href="#"> Submit </a>
				<input class="btn btn-danger" type="reset" value="Erase">-->
				<!--input class="btn btn-success" type="submit" value="Submit">-->
				<button type="button" class="btn btn-success" id="myBtn2">Submit</button>
			</div>
			<div class="col-sm-2 text-left">
				<a class="btn btn-danger" href="home"> Cancel </a>
			</div>
			</div>
		</div>
		</form>
		<br>
		<br>

  </div>

  <br>
  <br>
 <script>

$(document).ready(function(){
    $("#myBtn2").click(function(){
    	var checkpoint = true;
    	var checkdata = true;
    	var today = new Date();
    	var current_year = today.getFullYear();
    	var current_month = today.getMonth() + 1;
    	var current_day = today.getDate();
    	//var current_month = 3;
    	//var current_day = 10;
		//var current_year = 2017;
		//alert(current_year);
		//alert(current_month);
		//alert(current_day);
			

    	//alert("do submit")
    	var re_mname = /\S+/;
    	var re_mlocation = /\S+/;
    	var re_mdescription = /\S+/;
    	var re_sdate = /\S+/;

    	var inputVal3 = document.getElementById("mName");
    	var inputVal4 = document.getElementById("loc");
    	var inputVal5 = document.getElementById("desc");
    	var inputVal6 = document.getElementById("dd2");
    	var inputVal7 = document.getElementById("ml");
    	var inputVal8 = document.getElementById("sdate");

   		var label3 = document.getElementById("lb3");
    	var label4 = document.getElementById("lb4");
    	var label5 = document.getElementById("lb5");
    	var label6 = document.getElementById("lb6");
    	var label7 = document.getElementById("lb7");
    	var label8 = document.getElementById("lb8");


    	var mname =document.getElementById("mName").value;
    	var mlocation =document.getElementById("loc").value;
    	var mdescription =document.getElementById("desc").value;
    	var scontact = document.getElementById("dd2").value;
    	var mlength = document.getElementById("ml").value;
    	var sdate =document.getElementById("sdate").value;

    	datearray = sdate.split(",");
    	for (i = 0; i < datearray.length; i++){
    		var timearray = datearray[i].split("/");
    		if (parseInt(timearray[2])<current_year){
    			checkdata=false;
    			//alert("no1");
    		}
    		else{
    			if(parseInt(timearray[0])<current_month){
					//alert("no2");	
    				checkdata=false;
    			}
    			else{
    				if (parseInt(timearray[1])<=current_day){
    					//alert("no3");
						checkdata=false;
						}
    				}
    			}
    		}
    	


    	if(re_mname.exec(mname)&&re_mlocation.exec(mlocation)&&re_mdescription.exec(mdescription)&&scontact!=""&&mlength!=""&&sdate!=""&&checkdata){
    		//alert("pass!");
    		document.myform.submit();
    	}
    	else{
    		if (!re_mname.exec(mname)){
	    		inputVal3.style.backgroundColor = "#FF9A9A";
				label3.style.display= "inline-block";
	    	}
	    	else{
	    		inputVal3.style.backgroundColor = "#FFFFFF";
	      		label3.style.display= "none";
	    	}

	    	if (!re_mlocation.exec(mlocation)){
	    		inputVal4.style.backgroundColor = "#FF9A9A";
	      		label4.style.display= "inline-block";
	    	}
	    	else{
	    		inputVal4.style.backgroundColor = "#FFFFFF";
	      		label4.style.display= "none";
	    	}
	    	if (!re_mdescription.exec(mdescription)){
	    		inputVal5.style.backgroundColor = "#FF9A9A";
	      		label5.style.display= "inline-block";
	    	}
	    	else{
	    		inputVal5.style.backgroundColor = "#FFFFFF";
	      		label5.style.display= "none";
	    	}
	    	if (scontact==""){
	    		//inputVal6.style.backgroundColor = "#FF9A9A";
	      		label6.style.display= "inline-block";
	    	}
	    	else{
	    		//inputVal6.style.backgroundColor = "#FFFFFF";
	      		label6.style.display= "none";
	    	}
	    	if (mlength==""){
	    		//inputVal7.style.backgroundColor = "#FF9A9A";
	      		label7.style.display= "inline-block";
	    	}
	    	else{
	    		//inputVal7.style.backgroundColor = "#FFFFFF";
	      		label7.style.display= "none";
	    	}
	    	if (sdate==""||checkdata==false){
	    		inputVal8.style.backgroundColor = "#FF9A9A";
	      		label8.style.display= "inline-block";
	    	}
	    	else{
	    		inputVal8.style.backgroundColor = "#FFFFFF";
	      		label8.style.display= "none";
	    	}
    	}



    	


    });
});
</script>
</body>
</html>
