<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for FF, Chrome, Opera 
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/pngvcfhref="images/kaby.png" sizes="32x32">
	-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Kaby Stylesheet -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Custom stylesheet for index.html -->
  <style>
    #body-wrapper {
        background-color: #ffffff;
        margin-bottom: 0;
        margin: 0 auto;
        border-radius: 0; 
        width: 100%;
        position: auto;
        max-width: 1100px;
    }
  </style>
  <script>

$(document).ready(function(){
    $("#myBtn6").click(function(){
        var checkflag = false;
        var arr=document.getElementsByName("user_name");
        var label6 = document.getElementById("lb6");
        //alert(arr.length)
        for(var i=0;i<arr.length;i++){
            if(arr[i].checked){
                checkflag = true;
            }
        }

        if(checkflag){
            $("#myModal6").modal();
        }
        else{
            //alert("im herer");
            label6.style.display= "inline-block";
        }


    });
});
</script>
</head>
<!--
    Hello, please respond to this invitation. 
    TODO:
    - Display data
    - Give user option to select who they are 
    - Receive user data
    - Redirect to "Thank you, your information has been processed"
-->
<body>

    <!-- HEADER -->
<br>
<div class="container" id="body-wrapper">
	<div class="container text-center">
		<div class="row content">
			<div class="col-sm-5 text-left">
				<h1> Kaby Meeting Planner </h1>
			</div>
			<div class="col-sm-5 text-right">
			<br>
			<br>
			</div>
		</div>
	</div>
	<hr>
	<hr>
    <!-- /HEADER -->

    <form name="myForm6"action="/respond_meeting" method="post">
        <div class="container text-center">
            <div class="row content">
			    <div class="col-sm-9 text-left">
                    <h2>You have been invited to a meeting</h2>
                    <h3>Who are you?</h3> 

                    <label  class="alert alert-danger" id = "lb6" style="display:none">Please chooes who you are!</label>
                    <br>                                                                   
                    {% for name in names %}
                        <input type="radio" class="user_name" name="user_name" value="{{ name }}" id="{{ name }}">

                        <label for="{{ name }}"> {{ name }} </label>  
                        <br>
                    {% endfor %}
                    <h3>When are you available?</h3>
                    {% set dict ={'last_date' : ''} %}
                    {% for date, st, et in dts %}
                        {% set cur_date = date %}
                            {% if dict.last_date == cur_date %}
                            {% else %}
                                <div class="row">
                                <div class="container">
                                <div class="col-sm-10">
                                <div class="col-sm-10 text-left">
                                <h4>{{cur_date}}</h4>
                                </div>
                                </div>
                                </div>
                                </div>
                                
                            {% endif %}
                            {% if dict.update({'last_date': cur_date}) %} {% endif %}
                        <div class="row">
                            <div class="container">
                                <div class="col-sm-10">
                                    <div class="col-sm-1"> 
                                    </div>
                                        <div class="col-sm-9 text-left">
                                            <input type="checkbox" name="available_times" value="{{date}}-{{st}}-{{et}}" /><span id="{{loop.index}}" > {{ str(st)[0:5] }} - {{ str(et)[0:5] }} </span><br/>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    <br>
                    <!--input type="submit" class="btn btn-success" id="submit_times" value="I'm available these times">-->
                    <button type="button" class="btn btn-success" id="myBtn6">I'm available these times</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
              </div>
              <div class="modal-body">
                Do you want to submit your available time?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary"></input>
              </div>
            </div>
          </div>
        </div>


    </form>
  <br>
  <br>
</body>
</html>
