<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- for FF, Chrome, Opera -->
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Include jQuery -->
  <!--script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: false,
            multidate: true,
        });
    });







$(document).ready(function(){
    $("#myBtn4").click(function(){
    	//{% for m in length_min%}
    	//var min=m;
    	//alert(min);
    	//{% endfor %}
    	//alert("checkpoint1");
    	//var min = {{length_min}};
    	//alert({{length_min0}});
		//alert("checkpoint2");
		var min = {{length_min0}};
    	var flag = true;
    	var longenough = false;
    	{% for o in dates%}
    	var re_time = /^([0-1][0-9]|2[0-3])([0-5][0-9])-([0-1][0-9]|2[0-3])([0-5][0-9])(([,][0-1][0-9]|2[0-3])([0-5][0-9])-([0-1][0-9]|2[0-3])([0-5][0-9]))*$/
    	var inputVal0 = document.getElementById("t{{loop.index}}");
    	var timevalve =document.getElementById("t{{loop.index}}").value;
    	var label0 = document.getElementById("d{{loop.index}}");
    	var innerflag = true;
    	if (!re_time.exec(timevalve)){
    		innerflag = false;
    		flag=false;
    	}
    	else{
    		var res = timevalve.split(",");
    		var arrayLenth = res.length;
    		for(var i = 0; i < arrayLenth; i++){
    			var timearray = res[i].split("-");
    			var early = parseInt(timearray[0]);
    			var late = parseInt(timearray[1]);
    			if (late<early) {
    				innerflag = false;
    				flag=false;
    			};
    			var earlyhour = parseInt(timearray[0].substring(0,2));
    			var earlyminute = parseInt(timearray[0].substring(2,4));
    			var latehour = parseInt(timearray[1].substring(0,2));
    			var lateminute = parseInt(timearray[1].substring(2,4));
    			var difference = (latehour*60+lateminute)-(earlyhour*60+earlyminute);

    			if (difference>=min)
    			{
    				longenough= true;
    			}
    		}
    	}

	    if (!innerflag){
	    		inputVal0.style.backgroundColor = "#FF9A9A";
	      		label0.style.display= "inline-block";

	    	}
	    else{
	    		inputVal0.style.backgroundColor = "#FFFFFF";
	      		label0.style.display= "none";
	    	}

    	{% endfor %}

    	if(flag){
    		//$("#myModal2").modal();
    		if(longenough){
    			$("#myModal2").modal();
    		}
    		else
    		{
    			$("#myModalw").modal();
    		}
    		

    	}



    });
});

$(document).ready(function(){
    $("#myBtnsm").click(function(){
    	//alert("subit succsss");
    	document.tpform.submit();
	

    });
});

</script>

<!-- Kaby Stylesheet -->
<link rel="stylesheet" href="/static/css/busy.css" />
<!-- Custom stylesheet for time_picker.html -->
<style>
    body {
        padding-top: 15px;
    }
</style>

</head>

	<br>
	<br>
	<div class="container" id="body-wrapper">
				<!--<h4>Date fields will be filled in automatically from dates picked above. You need to enter the desired time ranges for each date as a comma seperated list of ranges.</h4>
				-->
		<form action="newmeeting_action" method="post" name = "tpform">
		<div class="form-group row text-center">
			<h2> Add time ranges for the dates you selected on the previous page</h2>
		</div>
				
		<hr>
		<br>
		<br>
		{% for o in dates%}
		<div class="form-group row text-left">
				<label for="d{{loop.index}}" class="col-sm-2 col-form-label">Date</label>
			<div class="col-sm-5 text-left">

					<!--input class="form-control" type="text" value="{{o}}" name="d{{loop.index}}" -->
					<label for="d{{loop.index}}" class="text-left"> {{o}} </label>
		 	</div>
		 		<label for="d{{loop.index}}" class="col-sm-2 col-form-label" style="display:none">Please input a valid date, without any white space</label>
		</div>
		<div class="form-group row text-left">
		 	<label for="t{{loop.index}}" class="col-sm-2 col-form-label">Time</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" placeholder="0800-0900,1300-1500"  name="t{{loop.index}}" id="t{{loop.index}}">
		 	</div>
		 	<label for="d{{loop.index}}" class="col-sm-2 col-form-label" id= "d{{loop.index}}" style="display:none">Please input a valid time, without any white space(e.g.0800-0900,1100-1200)</label>
		</div>
		<br>
		{% endfor %}
		<br>
		<br>



		<div class="container">
			<div class="row content">
			<div class="col-sm-4"> </div>
			<div class="col-sm-2 text-right">
				<!--<a class="btn btn-primary" href="#"> Submit </a>
				<input class="btn btn-danger" type="reset" value="Erase">-->
				<!--input class="btn btn-success" type="submit" value="Submit">-->
				<button type="button" class="btn btn-success" id="myBtn4">Submit</button>
			</div>
			<div class="col-sm-2 text-left">
				<a class="btn btn-danger" href="home"> Cancel </a>
			</div>
			</div>
		</div>




		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
		      </div>
		      <div class="modal-body">
		        Do you want to submit that information?
		      </div>
		        <div class="modal-footer">
		      	<button type="button" class="btn btn-success"  id="myBtnsm">Submit</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <!--input type="submit" class="btn btn-primary"></input>-->
		      </div>
		    </div>
		  </div>
		</div>


		<div class="modal fade" id="myModalw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="alert alert-danger">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">warning</h4>
		      </div>
		      <div class="modal-body">
		        You don't have enough time to host even one meeting!
		      </div>
		      <div class="modal-footer">

		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>



		</form>
		<br>
		<br>

  </div>

  <br>
  <br>


<script>


</script>
</body>
</html>
