<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- for FF, Chrome, Opera -->
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Include jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: false,
            multidate: true,
        });
    });

$(document).ready(function(){
    $("#myBtn3").click(function(){
    	
    	alert("im here1")
    	for o in datas{
    		alert("i")
    	}
    	alert("im here1")
    	if(1>2){
    		$("#myModal").modal();
    	}



    });
});

</script>

<!-- Kaby Stylesheet -->
<link rel="stylesheet" href="/static/css/busy.css" />
<!-- Custom stylesheet for time_picker.html -->
<style>
    body {
        padding-top: 15px;
    }
</style>

</head>

	<br>
	<br>
	<div class="container" id="body-wrapper">
				<!--<h4>Date fields will be filled in automatically from dates picked above. You need to enter the desired time ranges for each date as a comma seperated list of ranges.</h4>
				-->
		<form action="newmeeting_action" method="post">
		<div class="form-group row text-center">
			<h2> Add time ranges for the dates you selected on the previous page</h2>
		</div>
				
		<hr>
		<br>
		<br>
		{% for o in dates%}
		<div class="form-group row text-center">
				<label for="d{{loop.index}}" class="col-sm-2 col-form-label">Date</label>
			<div class="col-sm-5">

					<input class="form-control" type="text" value="{{o}}" name="d{{loop.index}}" >
		 	</div>
		</div>
		<div class="form-group row text-center">
		 	<label for="t{{loop.index}}" class="col-sm-2 col-form-label">Time</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" placeholder="0800-0900,1300-1500"  name="t{{loop.index}}">
		 	</div>
		</div>
		<br>
		{% endfor %}
		<br>
		<br>



		<div class="container">
			<div class="row content">
			<div class="col-sm-4"> </div>
			<div class="col-sm-2 text-right">
				<!--<a class="btn btn-primary" href="#"> Submit </a>
				<input class="btn btn-danger" type="reset" value="Erase">-->
				<!--input class="btn btn-success" type="submit" value="Submit">-->
				<button type="button" class="btn btn-success" id="myBtn3">Submit</button>
			</div>
			<div class="col-sm-2 text-left">
				<a class="btn btn-danger" href="home"> Cancel </a>
			</div>
			</div>
		</div>




		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
		      </div>
		      <div class="modal-body">
		        Do you want to submmit those imformatiom??
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <input type="submit" class="btn btn-primary"></input>
		      </div>
		    </div>
		  </div>
		</div>


		</form>
		<br>
		<br>

  </div>

  <br>
  <br>


<script>


</script>
</body>
</html>
