<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for FF, Chrome, Opera 
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
	-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Kaby Stylesheet -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Custom stylesheet for index.html -->
  <style>
    #body-wrapper {
        background-color: #ffffff;
        margin-bottom: 0;
        margin: 0 auto;
        border-radius: 0; 
        width: 100%;
        position: auto;
        max-width: 1100px;
    }
  </style>
</head>

<body>
<div class="container" id="body-wrapper">
    <!-- HEADER -->
	<div class="container text-center">
		<div class="row content">
			<div class="col-sm-5 text-left">
				<h1> Kaby Meeting Planner </h1>
			</div>
			<div class="col-sm-5 text-right">
			<br>
			<br>
			</div>
		</div>
	</div>
	<hr>
	<ul class="nav nav-pills red">
			<li role="presentation"><a href="http://ix.cs.uoregon.edu:5951/home">Home</a></li>
		    <li role="presentation"><a href="http://ix.cs.uoregon.edu:5951/newMeeting">New Meeting</a></li>
		    <li role="presentation"><a href="http://ix.cs.uoregon.edu:5951/newContact">New Contacts</a></li>
		    <li role="presentation"><a href="http://ix.cs.uoregon.edu:5951/logout">Log out</a></li>
	</ul>
	<hr>
	<br>
	<br>
    <!-- /HEADER -->
    <div class="form-group row text-center" >                                                      
        <div class="container">
            <div class="col-sm-10">                                                                    
                <label for="meeting_name"  class="col-sm-2 text-left">Meeting Name:</label>                    
                <div  class="col-sm-5 text-left">                                                                    
                    <div name="meeting_name" class="col-sm-5 text-left" readonly> {{ title }}</div>   
                </div>                                                                                     
            </div>                                                                                     
        </div>                                                                                     
        
    </div>     
    <br>

    <div class="form-group row text-center" >                                                      
        <div class="container">
            <div class="col-sm-10">                                                                    
                    <label for="meeting_name"  class="col-sm-2 text-left">Location:</label>                    
                <div  class="col-sm-8 text-left">                                                                    
                    <div name="meeting_name" class="col-sm-8 text-left" readonly> {{ location }}</div>   
                </div>                                                                                     
            </div>                                                                                     
        </div>                                                                                     
        
    </div>     
   <br>

    <div class="form-group row text-center" >                                                      
        <div class="container">
            <div class="col-sm-10">                                                                    
                    <label for="meeting_name"  class="col-sm-2 text-left">Description:</label>                    
                <div  class="col-sm-8 text-left">                                                                    
                    <div name="meeting_name" class="col-sm-8 text-left" readonly> {{ desc }}</div>   
                </div>                                                                                     
            </div>                                                                                     
        </div>                                                                                     
        
    </div>     
   <hr>


    <div class="form-group row text-center" >                                                      
        <!-- TODO: This looks really bad. Don't know why it idents. -->
        <div class="col-sm-10 text-left">                                                                    
            <label for="mName" class="col-sm-2 col-form-label"><h3>Responders</h3></label>                    
        </div>
        <br>
        <div class="container">
        {% for name, times in responders.iteritems() %}
                <div class="col-sm-10 text-left">                                                                    
                    <label class="col-sm-2 col-form-label text-left"><h4>{{ name }}</h4></label>
                </div>
            {% for date, st, et in times %}
                <div class="col-sm-10">                                                                    
                    <div class="row" content>
                        <div class="col-sm-1 text-right">
                        <input type="checkbox" class="available_times" name="available_times" value="{{date}}-{{st}}-{{et}}" id="{{loop.index}}">

                        </div>
                        <label class="col-sm-8 col-form-label text-left">{{ date }} {{ st }} - {{ et }}</label>
                    </div>
                </div>
            {% endfor %}
            <br>
        {% endfor %}
        </div>
    </div>     
    <br>
    <div class="form-group row text-center" >                                                      
        <div class="col-sm-10 text-left">                                                                    
            <label  class="col-sm-7 col-form-label"><h3>Haven't responded</h3></label>                    
        </div>
        <br>
        <div class="container">
            {% for name in not_responders %}
            <div class="col-sm-10 text-left">                                                                    
                <label class="col-sm-2 col-form-label"><h4>{{ name }}</h4></label>
            </div>
            {% endfor %}
        </div>
    </div>     
</div>
</body>
</html>
