<!DOCTYPE html>
<html>
<head>
  <title>KABY meeting planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- for FF, Chrome, Opera 
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/kaby.png" sizes="32x32">
	-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Kaby Stylesheet -->
  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Custom stylesheet for index.html -->
  <style>
    #body-wrapper {
        background-color: #ffffff;
        margin-bottom: 0;
        margin: 0 auto;
        border-radius: 0; 
        width: 100%;
        position: auto;
        max-width: 1100px;
    }
  </style>
</head>

<body>
    Hello world.
</body>
</html>
